.yap-hat-box {
    width: 0;
    height: 10px;
    left: 20px;
    top: -40px;
    position: absolute;
    cursor: pointer;
  }

  .yap-hat {
    animation: yap-hat 0.5s ease-in-out;
    position: sticky;
    bottom: 0;
    padding-right: 23px;    
    transform: translateY(-100%);
    width: 150px;
    height: 150px;
  }

  @keyframes yap-hat {
    0% {
      transform: translateY(0%);
      opacity: 1;
    }
    50% {
      transform: translateY(0%);
      opacity: 1;
    }
    100% {
      transform: translateY(0%);
      opacity: 1;
    }
  }

  @keyframes yap-hat-repeat {
    0% {
      transform: translateY(-50%);
      opacity: 0;
    }
    
    50% {
      transform: translateY(0);
      opacity: 1;
    }

    100% {
      transform: translateY(-50%);
      opacity: 0;
    }
  }

  .yap-hat-box:not(:hover) .yap-hat {
    animation: yap-hat-repeat 3s infinite;
  }
  
  .yap-hat-box:hover .yap-hat {
        animation: yap-hat 2s infinite;
  }